<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <bean id="serviceLocator" class="cn.duozhilin.restaurants.spring.ServiceLocator"/>
 
 	<!-- 数据库配置 -->
    <import resource="classpath:spring-datasource.xml"/>
    
    <bean id="restaurantDAO" class="cn.duozhilin.restaurants.dao.impl.RestaurantDAOImpl">
    	<constructor-arg ref="morphia"/>  
        <constructor-arg ref="datastore"/>  
        <constructor-arg>  
            <list>  
                <value>cn.duozhilin.restaurants.bean.Restaurant</value>  
            </list>  
        </constructor-arg>  
    </bean>
    
    <bean id="restaurantBiz" class="cn.duozhilin.restaurants.biz.impl.RestaurantBizImpl">
    	<property name="dao" ref="restaurantDAO"></property>
    </bean>
</beans>
