<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <bean id="serviceLocator" class="cn.duozhilin.restaurants.spring.ServiceLocator"/>
 
    <import resource="classpath:spring-datasource.xml"/>
    
    <bean id="restaurantDAO" class="cn.duozhilin.restaurants.dao.impl.RestaurantDAOImpl">
    	<property name="datastore" ref="restaurantsMongoDatastore"></property>
    </bean>
    
    <bean id="restaurantBiz" class="cn.duozhilin.restaurants.biz.impl.RestaurantBizImpl">
    	<property name="dao" ref="restaurantDAO"></property>
    </bean>
 
    <!-- <bean id="sessionManager" class="com.paojiao.session.SessionManager">
        <constructor-arg ref="paojiaoMongoDatastore"/>
    </bean>
 
    <bean id="mongoSequenceManager" class="com.paojiao.nosql.mongo.MongoSequenceManager">
        Mongo数据源
        <constructor-arg ref="paojiaoMongoDatastore"/>
        <property name="sequenceMap">
            <map>
                <entry key="com.paojiao.session.User" value="1000"/>
            </map>
        </property>
    </bean>
 
    <bean id="userManager" class="com.paojiao.session.UserManager">
        Mongo数据源
        <constructor-arg ref="paojiaoMongoDatastore"/>
    </bean> -->
</beans>
